*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/
.direnv/

# Local Netlify folder
.netlify
.gitpod.yml
.markdownlint.yml
AUTHORS.md
CHANGELOG.md
CONTRIBUTING.md
flake.lock
flake.nix
install.ps1
install.sh
shell.nix
/.devcontainer
/.vscode